.DropListContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ListBorder {
  border: 3px solid #d3d3d3;
  border-radius: 5px;
  width: 90%;
  padding: 2px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 10px 2;
}

.DropListStyle {
  background-color: #f2f2f3;
  padding: 20px;
  width: 85%;
  height: 30vh;
  margin: auto;
  flex-direction: column;
  gap: 70px;
  min-height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
}
