bokeh==2.4.3
greenlet==1.1.2
Jinja2==3.1.2
MarkupSafe==2.1.1
numpy==1.23.1
packaging==21.3
pandas==1.4.3
Pillow==9.2.0
psycopg2==2.9.3
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.1
PyYAML==6.0
six==1.16.0
SQLAlchemy==1.4.39
tornado==6.2
tqdm==4.64.0
typing_extensions==4.3.0
