sqlalchemy
alembic
psycopg2-binary
tqdm
Flask
Flask-RESTful
flask_cors
gunicorn
marshmallow
flask_marshmallow
marshmallow_sqlalchemy
flask_sqlalchemy
Flask-Migrate
python-dateutil
pandas
Authlib
flask-bcrypt
flask-session
redis
PyJWT
Requests
google-auth
soil-power-sensor-protobuf @ https://ents-python-package.s3.us-west-2.amazonaws.com/soil_power_sensor_protobuf-2.2.2.tar.gz
gevent
celery[redis,gevent,sqlalchemy,sqs]
