sqlalchemy
alembic
psycopg2-binary
tqdm
Flask
Flask-RESTful
flask_cors
gunicorn
marshmallow
flask_marshmallow
marshmallow_sqlalchemy
flask_sqlalchemy
Flask-Migrate
python-dateutil
pandas
Authlib
flask-bcrypt
flask-session
redis
PyJWT
Requests
google-auth
soil-power-sensor-protobuf @ https://test-files.pythonhosted.org/packages/21/de/bf78ad8c715eac3b1c54b558e05fc468e0db199832af5e4b663f771c91e8/soil_power_sensor_protobuf-2.2.2.tar.gz
gevent