apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: dirtviz
  name: cs-http
spec:
  selector:
    matchLabels:
      app: cs-http
      git-branch: {{ branch }}
  template:
    metadata:
      labels:
        app: cs-http
        git-branch: {{ branch }}
        git-commit: {{ sha }}
    spec:
      containers:
        - name: portal
          image: ghcr.io/jlab-sensing/dirtviz-cs-http:{{ branch }}
          imagePullPolicy: Always
          ports:
            - containerPort: 8100
          envFrom:
            - secretRef:
                name: dburl
          env:
            - name: DB_DATABASE
              value: dirtviz-{{ branch }}
