---
apiVersion: v1
kind: Secret
metadata:
  name: dburl
  namespace: dirtviz-{{ env['GITHUB_REF_NAME'] }}
type: Opaque
stringData:
  DB_USER: "{{ user }}"
  DB_PASS: "{{ pass }}"
  DB_HOST: "{{ host }}"
  DB_PORT: "{{ port }}"
