apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: dirtviz
  name: http-api
spec:
  selector:
    matchLabels:
      app: http-api
      git-branch: {{ branch }}
  template:
    metadata:
      labels:
        app: http-api
        git-branch: {{ branch }}
        git-commit: {{ sha }}
    spec:
      containers:
        - name: portal
          image: ghcr.io/jlab-sensing/dirtviz-http-api:{{ branch }}
          imagePullPolicy: Always
          ports:
            - containerPort: 8090
          envFrom:
            - secretRef:
                name: DatabaseURL
          env:
            - name: DB_DATABASE
              value: dirtviz-{{ branch }}
