---
apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: dirtviz-{{ env['GITHUB_REF_NAME'] }}
  name: http-api
  labels:
    git-branch: {{ env['GITHUB_REF_NAME'] }}
spec:
  selector:
    matchLabels:
      app: http-api
      git-branch: {{ env['GITHUB_REF_NAME'] }}
  template:
    metadata:
      labels:
        app: http-api
        git-branch: {{ env['GITHUB_REF_NAME'] }}
        git-commit: {{ env['GITHUB_SHA'] }}
    spec:
      containers:
        - name: portal
          image: ghcr.io/jlab-sensing/dirtviz-http-api:{{ env['GITHUB_REF_NAME'] }}
          imagePullPolicy: Always
          ports:
            - containerPort: 8090
          envFrom:
            - secretRef:
                name: dburl
          env:
            - name: DB_DATABASE
              value: {{ env['GITHUB_REF_NAME'] }}
---
apiVersion: v1
kind: Service
metadata:
  namespace: dirtviz-{{ env['GITHUB_REF_NAME'] }}
  name: http-api
  labels:
    git-branch: {{ env['GITHUB_REF_NAME'] }}
spec:
  selector:
    app: http-api
    git-branch: {{ env['GITHUB_REF_NAME'] }}
  ports:
    - port: 8090
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  namespace: dirtviz-{{ env['GITHUB_REF_NAME'] }}
  name: http-api-ingress
  labels:
    git-branch: {{ env['GITHUB_REF_NAME'] }}
spec:
  ingressClassName: nginx
  rules:
  - http:
      paths:
        - path: /dirtviz/{{ env['GITHUB_REF_NAME'] }}/http-api
          pathType: Prefix
          backend:
            service:
              name: http-api
              port:
                number: 8090
