apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: dirtviz
  name: portal
spec:
  selector:
    matchLabels:
      app: portal
      git-branch: {{ branch }}
  template:
    metadata:
      labels:
        app: portal
        git-branch: {{ branch }}
        git-commit: {{ sha }}
    spec:
      containers:
        - name: portal
          image: ghcr.io/jlab-sensing/dirtviz-portal:{{ branch }}
          imagePullPolicy: Always
          ports:
            - containerPort: 5006
          envFrom:
            - secretRef:
                name: dburl
          env:
            - name: BOKEH_ALLOW_WS_ORIGIN
              value: "0.0.0.0"
            - name: DB_DATABASE
              value: dirtviz_{{ branch }}
